.list-view-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.87rem;
    padding: 2.5rem;
}

.list-view-message {
    font-size: 1.3rem;
    font-family: 'Ringbearer Medium', sans-serif;
    letter-spacing: 0.025rem;
    margin: 5.625rem 1rem;
    text-align: center;
}
